<div class="container-fluid vh-100 d-flex align-items-center justify-content-center bg-light">

  <div class="card shadow login-card" style="width: 460px;">
    <div class="card-body">

      <h4 class="text-center mb-4 text-success fw-bold">
        ERP Login
      </h4>

      <form (ngSubmit)="login()">

        <div class="mb-3">
          <label class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="username"
            name="username"
            required
          />
        </div>

        <div class="mb-3">
        <label class="form-label">Password</label>

        <div class="position-relative">
            <input
            [type]="showPassword ? 'text' : 'password'"
            class="form-control pe-5"
            [(ngModel)]="password"
            name="password"
            required
            />

            <!-- Eye icon INSIDE input -->
            <i
            class="bi"
            [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"
            (click)="togglePassword()"
            ></i>
        </div>
        </div>

        <button class="btn btn-success w-100"
        [disabled]="loading">
        {{ loading ? 'Logging in...': 'Login'}}
        </button>

      </form>

    </div>
  </div>

</div>