<div class="card">
    <div class="card-header">
        <h5>Add Employee</h5>
    </div>
    <div class="card-body">
        <form (ngSubmit)="saveEmployee()">

            <div class="row mb-3">
                
                <div class="col-6 mb-3" *ngFor="let field of formFields">
                    <div *ngIf="field.is_display == '1'">
                        <label class="form-label">
                            {{field.label_name}}
                            <span *ngIf="field.is_mandatory == '1'" class="text-danger">*</span>
                        </label>

                        <input *ngIf="field.control_id == '1'"
                              type="text"
                              class="form-control"
                              [(ngModel)] = "formData[field.field_name]"
                              name="{{field.field_name}}"
                              [required]="field.is_mandatory == '1'"
                              [readonly]="field.is_enable == '0'"
                              [style.background]="field.is_enable == '0' ? 'lightgray' : ''"
                              />

                    </div>

                </div>
            </div>

            <div class="d-flex gap-3 mb-3">
                <button class="btn btn-success" type="submit">Save</button>
                <button class="btn btn-dark">Back</button>
            </div>
        </form>
    </div>

</div>